@media (max-width: 970px) {
    .myName {
        font-size: 5rem;
    }
}

@media (max-width: 730px) {
    .secondText {
        font-size: 3rem;
    }
    .myName {
        font-size: 3rem;
    }
  
}

@media (max-width: 543px) {
    .secondText {
        font-size: 2rem;
    }

    .myName {
        font-size: 2rem;
        margin-left: -30px;
    }

}

@media (max-width: 563px) {
    .copyrightText {
        font-size: 10px;
    }

}
