.linkTextContainer p {
    font-size: 1rem;
}
@media (max-width: 840px) {
    .secondContact {
        display: none;
    }
}

@media (max-width: 595px) {
    .mainContainer {
        padding-left: 0px;
        padding-right: 0px;
    }
    .logoName {
        display: none;
    }
}


@media (max-width: 450px) {
    .leftContainer {
        margin-left: -10p;
    }
    .linkTextContainer p {
        font-size: 10px;
    }
}

@media (max-width: 410px) {
    .leftContainer {
        margin-left: -20px;
        gap: 8px;
    }

    .linkTextContainer {
        gap: 4px;
    }

    .logoName {
        font-size: 14px;
    }

    .linkTextContainer p {
        font-size: 12px;
    }

    .rightContainer {
        gap: 0px !important;
    }

    svg {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 370px) { 
    .linkTextContainer p {
        font-size: 9px;
    }
}
